@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body{
    font-family: "Ubuntu Mono";
    background-color:#018001;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container{
    width: 520px;
    height: auto;
    margin: 100px auto;
    background-color: #eee;
    border-radius: 30px;
}

.Base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}

.Block {
    width: 140px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

.Base H4 {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    box-shadow: 0px 2px #018001;
}

.Title {
    font-size: 24px;
    text-align: left;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.5px;
    color: #018001;
}

input[type="number"] {
    color: blue;
    font-size: 20px;
    text-align: center;
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 40px;
    border: 2px solid #018001;
    border-radius: 15px;
}

input[type="button"] {
    width: 160px;
    background-color: #F8EE1E;
    padding: 14px 16px;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 40px;
}

input[type="button"]:hover {
    background-color: blue;
    color: #fff;
}

#age {
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 25px;
    text-align: center;
}

.cta {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

a{
    text-decoration: none;
    background-color: #F8EE1E;
    color: blue;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

a:hover{
    background-color: #eee;
    color: #018001;
}